*{
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    display: flex;
    align-items:  center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.ageContainer{
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    width: 520px;
    padding: 30px 40px;
    box-shadow: 0 0 10px black;
}

.ageContainer #myLabel{
    font-size: 1.2em;
    font-weight: bold;
    display: block;
    margin-bottom: 15px;
}

.ageContainer #myText{
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0 ;
    border: 1px solid black;
    border-radius: 20px;
}

.ageContainer #mySubmit{
    padding: 10px 20px;
    width: 100%;
    border-radius: 20px;
    border: none;
    background-color: aqua;
    font-weight: bold; 
}
